body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #173030ed;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(49,52,34);
    border: 3px solid #2fced3;
    font-size: 2em;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
}

.cell.taken {
    pointer-events: none;
    color: rgb(25,228,38);
}

#status {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

#reset {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#reset:hover {
    background-color: #0056b3;
}
